@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: $dark;
}

#app {
    display: grid;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 1.5rem;
    & > * {
        background-color: $light;
        padding: 1.5rem;
        border-radius: 1.5rem;
    }
}

#profile {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    column-gap: 2ch;
    row-gap: 1ch;
    align-items: center;
    grid-area: profile;

    & > *:nth-child(2n) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: max-content max-content;
        grid-auto-flow: column;
        column-gap: 1ch;
    }
}

#status {
    display: grid;
    grid-template-columns: max-content max-content max-content 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    column-gap: 2ch;
    align-items: center;
    justify-items: center;
    row-gap: 1ch;
    grid-area: status;

    & > .heading {
        text-align: center;
    }

    & > .controller {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        justify-items: center;
        column-gap: 1ch;
    }
}

#skill {
    grid-area: skill;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    row-gap: 4ch;
    & > .skill-points {
        display: grid;
        grid-auto-columns: max-content;
        grid-template-rows: max-content max-content;
        grid-auto-flow: column;
        column-gap: 2ch;
        row-gap: 1ch;
        & > h5 {
            display: grid;
            grid-template-columns: max-content max-content;
            column-gap: 1ch;
            align-items: center;
        }
    }

    & .skill-list {
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 1ch;
        column-gap: 2ch;
        & > .penetrating-heading {
            grid-column: 2 / -1;
        }
        & > .row-controller {
            display: grid;
            grid-auto-columns: max-content;
            grid-template-rows: max-content;
            grid-auto-flow: column;
            column-gap: 1ch;
        }
        & > .heading {
            justify-self: center;
        }
        & > * {
            &[data-column="1"] {
                grid-column: span 1;
            }
            &[data-column="2"] {
                grid-column: span 2;
            }
            &[data-column="3"] {
                grid-column: span 3;
            }
            &[data-column="4"] {
                grid-column: span 4;
            }
            &[data-column="5"] {
                grid-column: span 5;
            }
            &[data-column="6"] {
                grid-column: span 6;
            }
            &[data-column="7"] {
                grid-column: span 7;
            }
            &[data-column="8"] {
                grid-column: span 8;
            }
            &[data-column="9"] {
                grid-column: span 9;
            }
            &[data-column="10"] {
                grid-column: span 10;
            }
        }
    }
}

@media screen and (max-width: 1439px) {
    #skill {
        & .skill-list {
            &[data-tab="Left"] {
                grid-template-columns: max-content max-content 1fr 1fr 1fr 1fr 1fr min-content min-content min-content;
                & > div[data-tab="Right"] > span {
                    display: none;
                }
            }
            &[data-tab="Right"] {
                grid-template-columns: max-content max-content min-content min-content min-content min-content 1fr 1fr 1fr 1fr;
                & > div[data-tab="Left"] > span {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    #skill {
        & .skill-list {
            grid-template-columns: max-content max-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            & > .controller {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1919px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas: "profile" "status" "skill";
    }
}

@media screen and (min-width: 1920px) {
    #app {
        grid-template-columns: 5fr 13fr;
        grid-template-rows: max-content max-content;
        grid-template-areas: "profile status" "skill skill";
    }
}