@import "../node_modules/bootstrap/scss/bootstrap.scss";

#app {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 6ch;
    padding: 6ch;
}

#profile {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    column-gap: 2ch;
    row-gap: 1ch;
    align-items: center;

    & > *:nth-child(2n) {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 1ch;
    }
}

#status {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content max-content max-content;
    grid-auto-columns: max-content;
    column-gap: 2ch;
    align-items: center;
    row-gap: 1ch;
    & > .heading {
        text-align: center;
    }

    & > .controller {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        justify-items: center;
    }
}